<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ALL">
<Properties>
<Property name="basePath">C:\Users\cvheg\eclipse-workspace\FreeCRMAutomationFramework\Resource\Logs</Property>
</Properties>

  <Appenders>
    <File name="fileLogger" fileName="${basePath}/demoApplication.log" immediateFlush="false" append="false">
	     <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
	</File>
  
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  
  </Appenders>
  
  <Loggers>
    <Root level="all" additivity="false">
      <AppenderRef ref="Console" level="all"/>
      <AppenderRef ref="fileLogger" level="all"/>
    </Root>
  </Loggers>
</Configuration>