<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.wbl.test.HomePageTest"/>
      <class name="com.wbl.test.LoginPageTest"/>
      <class name="com.wbl.test.ComparePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
